@import '../styles/global';

.#{$prefix}md-editor {
  position: relative;
  line-height: 1.6em;
  white-space: break-spaces;
  color: #000000d9;
  background-color: white;
  border: 1px solid #d0d0d0;
  border-top: none;
  border-bottom-right-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  outline: none;
  overflow: auto;

  ::selection {
    background: #c1def1;
  }
}
