.#{$prefix}-slide-viewer {
  @include common;

  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;

  .#{$prefix}-slide {
    width: 1280px;
    height: 720px;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-bg-container;
    transform-origin: top left;

    > :first-child {
      margin-top: 0; /* 防止垂直居中时出现的视觉上的不居中现象 */
    }

    > :last-child {
      margin-bottom: 0; /* 防止垂直居中时出现的视觉上的不居中现象 */
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
    }

    table {
      margin: 16px 0;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 8px;
      border: 1px solid $color-border;
    }

    th {
      font-weight: bold;
      background-color: $color-fill-secondary;
    }

    tr:nth-child(even) td {
      background-color: $color-fill-tertiary;
    }

    pre {
      width: 70%;
    }

    img[id^='user-content-mermaid-'] {
      width: 100%;
      max-height: 100%;
    }
  }

  .#{$prefix}-custom-cursor-pencil {
    cursor: url('./cursor/pencil.png'), auto;
  }

  .#{$prefix}-custom-cursor-eraser {
    cursor: url('./cursor/editor-eraser.png'), auto;
  }

  .#{$prefix}-btn-container {
    position: absolute;
    top: 16px;
    right: 32px;
    height: 32px;
    display: flex;
    flex-direction: row-reverse;
    z-index: 10000;

    .#{$prefix}-common-btn {
      position: relative;
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      color: #e2e2e2;
      background-color: transparent;
      border-radius: 6px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        color: #f8f8f8;
        background-color: #f0f0f0;
      }
    }

    .#{$prefix}-popover {
      position: absolute;
      width: 150px;
      height: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
      overflow: hidden;
      z-index: 10000;
      transition: all 0.3s cubic-bezier(0.51, 0.3, 0.06, 0.98);

      > * {
        margin: 8px 0;
      }
    }

    .#{$prefix}-common-btn:hover + .#{$prefix}-popover,
    .#{$prefix}-popover:hover {
      height: 100px;
    }

    .#{$prefix}-draw-popover {
      top: 33px;
      left: 120px;
    }

    .#{$prefix}-erase-popover {
      top: 33px;
      left: 75px;
    }
  }

  .#{$prefix}-pad {
    position: absolute;
    top: 0;
    left: 0;
    width: 960px;
    height: 540px;
  }

  .#{$prefix}-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    opacity: 0.5; /* 圆环内部透明 */
    transform: translate(-50%, -50%);
    pointer-events: none; /* 防止圆环遮挡鼠标事件 */
  }
}
