.#{$prefix}-slide-viewer {
  @include common;

  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;

  .#{$prefix}-slide {
    @include viewer;

    width: 1280px;
    height: 720px;
    padding: 78.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 29px;
    background-color: $color-bg-container;
    transform-origin: top left;

    > :first-child {
      margin-top: 0; /* 防止垂直居中时出现视觉上不居中的现象 */
    }

    > :last-child {
      margin-bottom: 0; /* 防止垂直居中时出现视觉上不居中的现象 */
    }
  }

  .#{$prefix}-custom-cursor-pencil {
    cursor: url('./cursor/pencil.png'), auto;
  }

  .#{$prefix}-custom-cursor-eraser {
    cursor: url('./cursor/editor-eraser.png'), auto;
  }

  .#{$prefix}-btn-container {
    position: absolute;
    top: 16px;
    right: 32px;
    height: 32px;
    display: flex;
    flex-direction: row-reverse;
    z-index: 100;

    .#{$prefix}-common-btn {
      position: relative;
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      color: #e2e2e2;
      background-color: transparent;
      border-radius: 6px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        color: rgb(132 174 241);
        background-color: #f0f0f0;
      }
    }

    .#{$prefix}-popover {
      position: absolute;
      width: 150px;
      height: 0;
      display: flex;
      margin: 5px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
      overflow: hidden;
      z-index: 10000;
      transition: all 0.3s cubic-bezier(0.51, 0.3, 0.06, 0.98);

      > * {
        margin: 8px 0;
      }
    }

    .#{$prefix}-popover-label {
      font-size: 12px;
      margin-right: 15px;
    }

    .#{$prefix}-tooltip {
      position: absolute;
      height: 0;
      display: flex;
      margin-top: 36px;
      margin-left: 10px;
      flex-direction: column;
      line-height: 30px;
      font-size: 12px;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
      padding: 10px;
      z-index: 10000;
      transform: scale(0);
      transition: all 0.25s cubic-bezier(0.51, 0.3, 0.06, 0.98);
      overflow: visible;
    }

    .#{$prefix}-common-btn:hover + .#{$prefix}-tooltip {
      transform: scale(1);
      height: 30px;
    }

    .#{$prefix}-common-btn:hover + .#{$prefix}-popover,
    .#{$prefix}-popover:hover {
      height: 100px;
    }

    .#{$prefix}-draw-popover {
      top: 33px;
      left: 120px;
    }

    .#{$prefix}-erase-popover {
      top: 33px;
      left: 75px;
    }
  }

  .#{$prefix}-pad {
    position: absolute;
    top: 0;
    left: 0;

    // width: 100%;
    // aspect-ratio: 16 / 9;

    width: 1280;
    height: 720px;
  }
}
