.#{$prefix}-slide-viewer {
  @include common;

  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  background-color: #fff;

  .slide {
    & :first-child {
      margin-top: 0; /* 防止垂直居中时出现的视觉上的不居中现象 */
    }

    & :last-child {
      margin-bottom: 0; /* 防止垂直居中时出现的视觉上的不居中现象 */
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
    width: 100%; /* 子元素占满父容器 */
    height: 100%; /* 子元素占满父容器 */
    overflow: hidden;
    font-size: 1em !important;

    h1 {
      font-size: 2em !important;
    }

    h2 {
      font-size: 1.5em !important;
    }

    h3 {
      font-size: 1.17em !important;
    }

    h4 {
      font-size: 1em !important;
    }

    h5 {
      font-size: 0.83em !important;
    }

    h6 {
      font-size: 0.67em !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
    }

    table {
      margin: 1em 0;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 0.5em;
      border: 1px solid $color-border;
    }

    pre {
      width: 70%;
    }

    th {
      font-weight: bold;
      background-color: $color-fill-secondary;
    }

    tr:nth-child(even) td {
      background-color: $color-fill-tertiary;
    }

    img {
      max-height: 100%;
      width: 30em;
    }
  }

  .full-screen-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 1em;
    height: 1em;
    font-size: 2em;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    display: flex;
    color: #e2e2e2;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
      color: #b9b9b9;
    }
  }
}
