.#{$prefix}editor {
  display: flex;
  flex-wrap: wrap;

  .#{$prefix}toolbar {
    width: 100%;
  }

  .#{$prefix}md-editor {
    flex: 1;
    border-right: none;
    border-bottom-right-radius: 0;
  }

  .#{$prefix}md-viewer {
    padding: 0 1em;
    flex: 1;
    background-color: $color-bg-container;
    border: 1px solid $color-border;
    border-top: none;
    border-bottom-right-radius: $border-radius;
    overflow: auto;
  }
}
