.#{$prefix}editor {
  display: flex;
  flex-wrap: wrap;

  &.#{$prefix}fullscreen {
    position: fixed;
    inset: 0;
    z-index: 1000;

    > .#{$prefix}md-editor,
    > .#{$prefix}md-viewer {
      height: calc(100% - 3em) !important;
    }
  }

  > .#{$prefix}toolbar {
    width: 100%;
  }

  > .#{$prefix}md-editor {
    flex: 1;
    border-right: none;
    border-bottom-right-radius: 0;
  }

  > .#{$prefix}md-viewer {
    @include border-right-bottom-left;

    padding: 0 1em;
    flex: 1;
    background-color: $color-bg-container;
    border-bottom-left-radius: 0;
    overflow: auto;
  }

  > .#{$prefix}active {
    @include border-right-bottom-left;
  }

  > .#{$prefix}hidden {
    display: none;
  }
}
