.container {
  display: flex;
  flex-wrap: wrap;
}

.container .toolbar {
  width: 100%;
}

.container .editor {
  flex: 1;
  border-bottom-right-radius: 0;
}

.container .viewer {
  flex: 1;
  border-radius: 0;
  border-bottom-right-radius: 0.2em;
}
