$prefix: x-star-editor-;
$color-primary: #1890ff;
$color-primary-hover: #40a9ff;
$color-primary-active: #1d39c4;
$color-primary-bg: #e6f7ff;
$color-primary-bg-hover: #cbedfd;
$color-text: rgb(0 0 0 / 88%);
$color-text-light-solid: #fff;
$color-bg-container: #fff;
$color-bg-spotlight: rgb(0 0 0 / 85%);
$color-fill-secondary: rgb(0 0 0 / 6%);
$color-fill-tertiary: rgb(0 0 0 / 4%);
$color-border: #dedede;
$color-selection: #c1def1;
$border-radius: 0.3em;
$box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%),
  0 9px 28px 8px rgb(0 0 0 / 5%);

@mixin common {
  position: relative;
  color: $color-text;

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  ::selection {
    background-color: $color-selection;
  }
}

@mixin border-right-bottom-left {
  border: 1px solid $color-border;
  border-top: none;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}
