$prefix: x-star-editor-;
$color-primary: #1890ff;
$color-primary-hover: #40a9ff;
$color-primary-active: #1d39c4;
$color-primary-bg: #e6f7ff;
$color-primary-bg-hover: #cbedfd;
$color-text: rgb(0 0 0 / 88%);
$color-text-quaternary: rgb(0 0 0 / 25%);
$color-text-light-solid: #fff;
$color-bg-container: #fff;
$color-bg-spotlight: rgb(0 0 0 / 85%);
$color-border: #dedede;
$color-selection: #c1def1;
$border-radius: 0.25em;
$box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%),
  0 9px 28px 8px rgb(0 0 0 / 5%);
