@use 'sass:color';

$md-prefix: #{$prefix}md-;

.#{$md-prefix}editor {
  .#{$md-prefix}break,
  .#{$md-prefix}delimiter {
    color: color.adjust($color-text, $alpha: -0.6);
  }

  .#{$md-prefix}code,
  .#{$md-prefix}html,
  .#{$md-prefix}inlineCode {
    tab-size: 4;
    font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier,
      monospace;
  }

  .#{$md-prefix}code,
  .#{$md-prefix}html,
  .#{$md-prefix}inlineCode,
  .#{$md-prefix}inlineMath,
  .#{$md-prefix}math {
    color: $color-primary-active;
  }

  .#{$md-prefix}definition,
  .#{$md-prefix}footnoteDefinition,
  .#{$md-prefix}footnoteReference,
  .#{$md-prefix}image,
  .#{$md-prefix}imageReference,
  .#{$md-prefix}link,
  .#{$md-prefix}linkReference,
  .#{$md-prefix}listItem > .#{$md-prefix}delimiter,
  .#{$md-prefix}thematicBreak {
    color: $color-primary;
  }

  .#{$md-prefix}delete > :not(.#{$md-prefix}delimiter) {
    text-decoration: line-through;
  }

  .#{$md-prefix}emphasis {
    font-style: italic;
  }

  .#{$md-prefix}heading {
    line-height: 1.6em;
    font-weight: bold;

    @mixin heading-size($level, $size) {
      &.#{$md-prefix}heading-#{$level} {
        font-size: $size;
      }
    }

    @include heading-size(1, 1.6em);
    @include heading-size(2, 1.3em);
    @include heading-size(3, 1.2em);
    @include heading-size(4, 1.1em);
    @include heading-size(5, 1em);
    @include heading-size(6, 0.9em);
  }

  .#{$md-prefix}strong {
    font-weight: bold;
  }
}
