/**
 * VS theme by Andrew Lock (https://andrewlock.net)
 * Inspired by Visual Studio syntax coloring
 */

.x-star-md-viewer.x-star-md-viewer code,
.x-star-md-viewer.x-star-md-viewer pre {
  margin: 0.2em;
  color: #f57712;
  border-radius: 0.2em;
  font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', Courier,
    monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 1em;
  line-height: 1.2em;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.x-star-md-viewer.x-star-md-viewer pre > code {
  margin: 0;
  color: #393a34;
  font-size: 1.1em;
}

.x-star-md-viewer.x-star-md-viewer pre::-moz-selection,
.x-star-md-viewer.x-star-md-viewer pre ::-moz-selection,
.x-star-md-viewer.x-star-md-viewer code::-moz-selection,
.x-star-md-viewer.x-star-md-viewer code ::-moz-selection {
  background-color: #c1def1;
}

.x-star-md-viewer.x-star-md-viewer pre::selection,
.x-star-md-viewer.x-star-md-viewer pre ::selection,
.x-star-md-viewer.x-star-md-viewer code::selection,
.x-star-md-viewer.x-star-md-viewer code ::selection {
  background-color: #c1def1;
}

/* Code blocks */
.x-star-md-viewer.x-star-md-viewer pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border: 1px solid #dddddd;
  background-color: white;
}

/* Inline code */
.x-star-md-viewer.x-star-md-viewer :not(pre) > code {
  padding: 0.2em;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #f8f8f8;
  border: 1px solid #dddddd;
}

.x-star-md-viewer .token.comment,
.x-star-md-viewer .token.prolog,
.x-star-md-viewer .token.doctype,
.x-star-md-viewer .token.cdata {
  color: #008000;
  font-style: italic;
}

.x-star-md-viewer .token.namespace {
  opacity: 0.7;
}

.x-star-md-viewer .token.string {
  color: #a31515;
}

.x-star-md-viewer .token.punctuation,
.x-star-md-viewer .token.operator {
  color: #393a34; /* no highlight */
}

.x-star-md-viewer .token.url,
.x-star-md-viewer .token.symbol,
.x-star-md-viewer .token.number,
.x-star-md-viewer .token.boolean,
.x-star-md-viewer .token.variable,
.x-star-md-viewer .token.constant,
.x-star-md-viewer .token.inserted {
  color: #36acaa;
}

.x-star-md-viewer .token.atrule,
.x-star-md-viewer .token.keyword,
.x-star-md-viewer .token.attr-value,
.x-star-md-viewer .language-autohotkey .token.selector,
.x-star-md-viewer .language-json .token.boolean,
.x-star-md-viewer .language-json .token.number,
.x-star-md-viewer code[class*='language-css'] {
  color: #0000ff;
}

.x-star-md-viewer .token.function {
  color: #393a34;
}

.x-star-md-viewer .token.deleted,
.x-star-md-viewer .language-autohotkey .token.tag {
  color: #9a050f;
}

.x-star-md-viewer .token.selector,
.x-star-md-viewer .language-autohotkey .token.keyword {
  color: #00009f;
}

.x-star-md-viewer .token.important {
  color: #e90;
}

.x-star-md-viewer .token.important,
.x-star-md-viewer .token.bold {
  font-weight: bold;
}

.x-star-md-viewer .token.italic {
  font-style: italic;
}

.x-star-md-viewer .token.class-name,
.x-star-md-viewer .language-json .token.property {
  color: #2b91af;
}

.x-star-md-viewer .token.tag,
.x-star-md-viewer .token.selector {
  color: #800000;
}

.x-star-md-viewer .token.attr-name,
.x-star-md-viewer .token.property,
.x-star-md-viewer .token.regex,
.x-star-md-viewer .token.entity {
  color: #ff0000;
}

.x-star-md-viewer .token.directive.tag .tag {
  background-color: #ffff00;
  color: #393a34;
}

.x-star-md-viewer .line-number::before {
  width: 2em;
  margin-right: 16px;
  margin-left: -8px;
  display: inline-block;
  text-align: right;
  color: #2b91af;
  content: attr(line);
}

.x-star-md-viewer .highlight-line {
  display: block;
  background-color: rgba(193, 222, 241, 0.2);
  background-image: -webkit-linear-gradient(
    left,
    rgba(193, 222, 241, 0.2) 70%,
    rgba(221, 222, 241, 0)
  );
  background-image: linear-gradient(
    to right,
    rgba(193, 222, 241, 0.2) 70%,
    rgba(221, 222, 241, 0)
  );
}
