@use 'sass:color';

.#{$prefix}md-editor {
  @include common;
  @include border-right-bottom-left;

  padding: 0 1em;
  line-height: 1.6em;
  white-space: break-spaces;
  background-color: $color-bg-container;
  outline: none;
  overflow: auto;

  > :first-child {
    margin-top: 0.5em;
  }

  > :last-child {
    margin-bottom: 0.5em;
  }

  &.#{$prefix}empty {
    // 文本为空时显示 placeholder
    &::before {
      content: attr(placeholder);
      position: absolute;
      margin-top: 0.5em;
      color: color.adjust($color-text, $alpha: -0.6);
    }
  }
}
