.#{$prefix}md-editor {
  @include common;
  @include border-right-bottom-left;

  padding: 0 1em;
  line-height: 1.6em;
  white-space: break-spaces;
  background-color: $color-bg-container;
  outline: none;
  overflow: auto;

  > :first-child {
    margin-top: 0.5em;
  }

  > :last-child {
    margin-bottom: 0.5em;
  }
}

.#{$prefix}empty {
  /* 输入框为空时显示 placeholder */
  &::before {
    position: absolute;
    content: attr(placeholder);
    color: lightgray;
    margin-top: 0.5em;
  }
}
