.#{$prefix}md-editor {
  padding: 0 1em;
  position: relative;
  line-height: 1.6em;
  white-space: break-spaces;
  color: $color-text;
  background-color: white;
  border: 1px solid $color-border;
  border-top: none;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  outline: none;
  overflow: auto;

  > :first-child {
    margin-top: 1em;
  }

  > :last-child {
    margin-bottom: 1em;
  }

  ::selection {
    background-color: $color-selection;
  }
}
