.#{$prefix}file-input {
  margin: 0.5em 1em 1em;
  font-size: 0.9em;

  .#{$prefix}tabs {
    display: flex;

    .#{$prefix}tab {
      padding: 0.4em 1em;
      border-bottom: 1px solid $color-border;
      cursor: pointer;
      user-select: none;

      &:hover {
        color: $color-primary-hover;
        border-bottom: 1px solid $color-primary;
      }

      &.#{$prefix}active {
        color: $color-primary;
        border-bottom: 2px solid $color-primary;
      }
    }
  }

  .#{$prefix}buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.4em;
  }

  .#{$prefix}button {
    padding: 0.4em 1em;
    background-color: $color-bg-container;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    cursor: pointer;
    user-select: none;

    &.#{$prefix}primary {
      color: $color-text-light-solid;
      background-color: $color-primary;
      border: none;

      &:hover {
        background-color: $color-primary-hover;
      }
    }
  }

  .#{$prefix}field {
    margin: 0.8em;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    font-size: 0.9em;

    .#{$prefix}input {
      width: 20em;
      padding: 0.4em;
      border: 1px solid $color-border;
      border-radius: $border-radius;
      outline: none;

      &:focus {
        border: 1px solid $color-primary;
      }
    }

    .#{$prefix}file-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .#{$prefix}hidden {
        position: absolute;
        inset: 0;
        opacity: 0;
      }

      .#{$prefix}input {
        width: 12em;
      }

      .#{$prefix}button {
        width: 7.5em;
      }
    }
  }
}
