@use 'sass:color';

.#{$prefix}toolbar {
  padding: 0.5em 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  color: $color-text;
  background-color: $color-primary-bg;
  border: 1px solid $color-border;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  .#{$prefix}button-container {
    position: relative;

    > .#{$prefix}button {
      width: 2em;
      height: 2em;
      border-radius: $border-radius;
      cursor: pointer;
      user-select: none;

      &.#{$prefix}disabled::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: color.adjust($color-primary-bg, $alpha: -0.3);
        cursor: not-allowed;
      }

      &.#{$prefix}active {
        background-color: $color-primary-bg-hover;
      }

      .#{$prefix}icon {
        width: 100%;
        height: 100%;
        background-size: contain;

        @mixin icon-image($type) {
          &.#{$prefix}icon-#{$type} {
            background-image: url(icons/#{$type}.svg);
          }
        }

        @include icon-image(blockquote);
        @include icon-image(code);
        @include icon-image(delete);
        @include icon-image(emphasis);
        @include icon-image(fullscreen-enter);
        @include icon-image(fullscreen-exit);
        @include icon-image(heading);
        @include icon-image(image);
        @include icon-image(inline-code);
        @include icon-image(inline-math);
        @include icon-image(link);
        @include icon-image(math);
        @include icon-image(ordered-list);
        @include icon-image(redo);
        @include icon-image(strong);
        @include icon-image(table);
        @include icon-image(thematic-break);
        @include icon-image(to-html);
        @include icon-image(to-markdown);
        @include icon-image(undo);
        @include icon-image(unordered-list);
      }
    }

    .#{$prefix}tooltip {
      position: absolute;
      top: 3em;
      width: max-content;
      padding: 0.5em;
      font-size: 0.8em;
      color: $color-text-light-solid;
      background-color: $color-bg-spotlight;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      opacity: 0;
      z-index: 2;
      transform: translate(calc(1.25em - 50%));
      transition: opacity 0.3s;

      &::before {
        content: '';
        position: absolute;
        top: -0.3em;
        left: 50%;
        border-top: 0.6em solid $color-bg-spotlight;
        border-right: 0.6em solid transparent;
        transform-origin: 0 0;
        transform: rotate(45deg);
      }
    }

    .#{$prefix}popover {
      position: absolute;
      width: max-content;
      background-color: $color-bg-container;
      border: 1px solid $color-border;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      opacity: 0;
      z-index: 1;
      transition: opacity 0.3s;

      .#{$prefix}option {
        padding: 6px 12px;
        cursor: pointer;
        user-select: none;

        &:hover {
          background-color: $color-primary-bg;
        }
      }
    }
  }

  .#{$prefix}divider {
    margin: 0.4em;
    border: 1px solid $color-border;
  }

  @include common;
}
