@use 'sass:color';

.#{$prefix}-toolbar {
  @include common;

  padding: 0.5em 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  background-color: $color-primary-bg;
  border: 1px solid $color-border;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  .#{$prefix}-item-container {
    position: relative;

    .#{$prefix}-item {
      width: 2em;
      height: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $border-radius;
      cursor: pointer;
      user-select: none;

      &.#{$prefix}-disabled::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: color.adjust($color-primary-bg, $alpha: -0.3);
        cursor: not-allowed;
      }

      &:hover,
      &.#{$prefix}-active {
        background-color: $color-primary-bg-hover;
      }

      .#{$prefix}-icon {
        font-size: 1.75em;

        &.#{$prefix}-active {
          color: $color-primary;
        }
      }
    }

    .#{$prefix}-tooltip {
      position: absolute;
      top: 3em;
      width: max-content;
      padding: 0.5em;
      font-size: 0.8em;
      color: $color-text-light-solid;
      background-color: $color-bg-spotlight;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      opacity: 0;
      z-index: 2;
      transform: translate(calc(1.25em - 50%));
      transition: opacity 0.3s;

      &::before {
        content: '';
        position: absolute;
        top: -0.3em;
        left: 50%;
        border-top: 0.6em solid $color-bg-spotlight;
        border-right: 0.6em solid transparent;
        transform-origin: 0 0;
        transform: rotate(45deg);
      }
    }

    .#{$prefix}-popover {
      position: absolute;
      width: max-content;
      background-color: $color-bg-container;
      border: 1px solid $color-border;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      opacity: 0;
      z-index: 1;
      transition: opacity 0.3s;

      .#{$prefix}-option {
        padding: 6px 12px;
        cursor: pointer;
        user-select: none;

        &:hover {
          background-color: $color-primary-bg;
        }
      }
    }
  }

  .#{$prefix}-divider {
    margin: 0.4em;
    border: 1px solid $color-border;
  }
}
