.toolbar {
  padding: 0.2em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
  background-color: #f5771210;
  border: 1px solid #f5771220;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
}

.toolbar .button-container {
  position: relative;
}

.toolbar .button-container .button {
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Consolas;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
}

.toolbar .button-container .button.active {
  background-color: #f8f8f8;
  border: 1px solid #f5771280;
  border-radius: 0.2em;
}

.toolbar .button-container .button .icon {
  width: 45%;
  height: 45%;
  background-size: contain;
}

.toolbar .button-container .button .icon.code-library {
  background-image: url(icons/code-library.svg);
}

.toolbar .button-container .button .icon.italic {
  background-image: url(icons/italic.svg);
}

.toolbar .button-container .button .icon.bold {
  background-image: url(icons/bold.svg);
}

.toolbar .button-container .button .icon.code {
  background-image: url(icons/code.svg);
}

.toolbar .button-container .button .icon.link {
  background-image: url(icons/link.svg);
}

.toolbar .button-container .button .icon.image {
  background-image: url(icons/image.svg);
}

.toolbar .button-container .button .icon.strikethrough {
  background-image: url(icons/strikethrough.svg);
}

.toolbar .button-container .button .tooltip {
  position: absolute;
  top: 3em;
  width: max-content;
  padding: 0.4em;
  font-size: 0.8em;
  color: #f8f8f8;
  background-color: #022679;
  border-radius: 0.2em;
  z-index: 2;
}

.toolbar .button-container .button .tooltip::before {
  content: '';
  position: absolute;
  top: -0.3em;
  left: 50%;
  border-top: 0.6em solid #022679;
  border-right: 0.6em solid transparent;
  transform-origin: 0 0;
  transform: rotate(45deg);
}

.toolbar .button-container .popover {
  position: absolute;
  width: max-content;
  background-color: #f8f8f8;
  border: 1px solid #f5771280;
  border-radius: 0.2em;
  box-shadow: 0 2px 4px #00000020;
  opacity: 0;
  z-index: 1;
}

.toolbar .button-container .popover .option {
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
}

.toolbar .button-container .popover .option:hover {
  background-color: #f0f0f0;
}

.toolbar .divider {
  margin: 0.4em;
  border: 1px solid #f5771280;
}
